.main {
  margin: 2em;
}

.category {
  font-size: 1.5em;
}

.search-box {
  display: flex;
  margin-top: 20px;
}

.search-box input {
  width: 500px;
  padding: 10px;
  border-width: 1px;
}

.search-box button {
  width: 100px;
  margin-left: 10px;
  border: 1px solid #000;
}

.product-list {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  margin: 10px;
  width: 250px;
}
